body {
    box-sizing: border-box;
    margin: 0;
    color: #d1dae0;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
}
#zenith{
  margin-top: 5rem;
  margin-bottom: 1rem;
font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 800;
font-size: 10rem;
letter-spacing: 2rem;
color: var(--blue);
}
hr{
  position: relative;
  top: 22rem;
  border-color: grey;
  border-width: 8px;
  border-style: none;
  border-top-style: dotted;
  width: 8%;
  z-index: 10;
}
#background {
    background: #0a1724;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-6rem);
    height: 110vh;
    width: 100vw;
    position: fixed;
    z-index: -5;
}
#header {
    display: flex;
    gap: 2rem;
}
.headline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--blue);
    background-image: linear-gradient(45deg, #c4e0fc, #60d7ef);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#headerDesc {
    max-width: 50rem;
    line-height: 1.7rem;
}
@media (max-width:1000px) {
    #header {
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #headerDesc {
        max-width: unset;
        width: 90vw;
    }
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #0c2538;
    text-align: center;
}
.team {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0c2538;
}