body {
    box-sizing: border-box;
    margin: 0;
    color: #d1dae0;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
}
#zenith{
  margin-top: 2rem;
  margin-bottom: 1rem;
font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 800;
font-size: 128px;
letter-spacing: 2rem;
color: var(--blue);
}
@media (max-width:1000px) {
    #zenith{
  margin-top: 2rem;
  margin-bottom: 1rem;
font-family: 'JetBrains Mono', monospace;
font-style: normal;
font-weight: 800;
font-size: 500%;
letter-spacing: 2rem;
color: var(--blue);
}
}
/*hr{
  position: relative;
  top: 22rem;
  border-color: grey;
  border-width: 8px;
  border-style: none;
  border-top-style: dotted;
  width: 8%;
  z-index: 10;
}*/
#background {
    background: #0a1724;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-6rem);
    height: 110vh;
    width: 100vw;
    position: fixed;
    z-index: -5;
}
#header {
    display: flex;
    gap: 2rem;
}
.headline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--blue);
    background-image: linear-gradient(45deg, #c4e0fc, #60d7ef);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#headerDesc {
    max-width: 60rem;
    line-height: 1.7rem;
}
@media (max-width:1000px) {
    #header {
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #headerDesc {
        max-width: unset;
        width: 90vw;
    }
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #0c2538;
    text-align: center;
}
.projects{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0c2538;
}
.team_list {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0c2538;
}
.team {
  padding-top: 4rem;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member {
  width: 12%;
  margin: 10px;
  background: lightgoldenrodyellow;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 25px;
}
@media (max-width:1000px) {
  .team .team_member {
  width: 5%;
  margin: 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 25px;
}
}
.team_member img {
  width: 150px;
  filter: grayscale(100%);
  clip-path: circle();
}
.team_member img:hover {
  filter: grayscale(0%);
  transition: 0.3s;
}
.team .team_member h3 {
  color: #444;
}
.team .team_member span {
  font-size: 12px;
  color: #999;
}
.team .team_member p {
  margin: 15px 0;
  color: #999;
}
