body {
    box-sizing: border-box;
    margin: 0;
    color: #d1dae0;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
}

#zenith {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    letter-spacing: 2rem;
    color: var(--blue);
}

@media (max-width:1000px) {
    #zenith {
        font-size: 4rem;
        letter-spacing: 1rem;
        text-align: center;
        margin-inline-start: 1.4rem;
        padding-right: auto;
        padding-left: auto;
    }
}

/*hr{
  position: relative;
  top: 22rem;
  border-color: grey;
  border-width: 8px;
  border-style: none;
  border-top-style: dotted;
  width: 8%;
  z-index: 10;
}*/
#background {
    background: #0a1724;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-6rem);
    height: 110vh;
    width: 100vw;
    position: fixed;
    z-index: -5;
}

#header {
    display: flex;
}

.headline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--blue);
    background-image: linear-gradient(45deg, #c4e0fc, #60d7ef);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#headerDesc {
    max-width: 60rem;
    line-height: 1.7rem;
}

@media (max-width:1000px) {
    #header {
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    #headerDesc {
        max-width: unset;
        width: 90vw;
    }
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #0c2538;
    text-align: center;
}

.projects {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #0c2538;
    flex-wrap: wrap;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.projects .project-card h3 {
    color: #444;
}

.projects .project-card p {
    font-size: 16px;
    color: #0a1724;
    opacity: 50%;
}

.project-card {
    background: #ed9d9d;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.team_list {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0c2538;
}

.team {
    padding-top: 4rem;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member {
    width: 18%;
    margin: 10px;
    background: lightgoldenrodyellow;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 25px;
}

@media (max-width:1000px) {
    .team .team_member {
        width: 50%;
        margin: 10px;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        padding: 25px;
    }

    .project-card {
        width: 70%;
    }
}

.team_member img {
    width: 150px;
    filter: grayscale(100%);
    clip-path: circle();
}

.team_member img:hover {
    filter: grayscale(0%);
    transition: 0.3s;
}

.team .team_member h3 {
    color: #444;
}

.team .team_member span {
    font-size: 12px;
    color: #999;
}

.team .team_member p {
    margin: 15px 0;
    color: #999;

}

.team .team_member h3:hover {
    color: #2b98ae;
}